[Desktop Entry]
Version=1.0
Type=Application
Name=Spyder
GenericName=Spyder
Comment=Scientific Python Development EnviRonment
TryExec=/opt/Anaconda/envs/py37/bin/spyder
Exec=/opt/Anaconda/envs/py37/bin/spyder
Categories=Development;Science;IDE;Qt;
Icon=/opt/Anaconda/envs/py37/lib/python3.7/site-packages/spyder/images/spyder.png
Terminal=false
StartupNotify=false
